@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("/public/images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    background-color: var(--BGCOLOR);
    color: var(--COLOR);
    background-position: top right;
    background-blend-mode: multiply;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
